*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head3{
    color: orange;
    background-color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 35px;
}